<!DOCTYPE html>
<html>
    <head>
        <title>Mini Social Network</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
        <link rel="stylesheet" href="/css/home.css">

    </head>

    <body>
        <header><h2>Mini Social Network</h2></header>

    <section>
        <nav>
            Hello <b>{{{data.firstName}}}</b>
            <ul id="home-nav">
                <li id="home-link">Home</li>
                <li id="friend-link">Friends</li>
                <li id="profile-link">Profile</li>
                <li id="about-link">About</li>
            </ul>
        </nav>
        <div id="main-content">
            {{{body}}}
        </div>
    </section>

    <footer>
    <p>Mini Social Network 2020</p>
    </footer>

    <script src="/scripts/jquery-1.11.1.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/home.js"></script>
    </body>
</html>