
<div class="login-user">
        <input type="email" id="user-email" placeholder="Email Address"/>  
        <input type="password" id="user-password" placeholder="Password"/> <br>
        <input type="submit" id="login-btn" value="login">
</div>
<br>
<div class="msg-link">
    <a href="/signup">Don't have an account yet?  Sign Up</a>
</div>
