
 <!-- Success Alert -->
    <div class="alert alert-success alert-dismissible" style="display:none" id="successmsg">
        <strong id='smsg'></strong> 
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <!-- Error Alert -->
    <div class="alert alert-danger alert-dismissible" style="display:none"  id="failuremsg">
        <strong id='flmsg'></strong>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>


<label>Story Title</label><br>
<input type='text' id='stitle' required/>
<br><br>

<labe>Story Description</labe>
<textarea id="storyDesc" required></textarea>
<div class="row" style='margin-top:15px'>
<div class="col-md-5"></div>
<div class="col-md-2">
  <button type="button" class="center btn btn-secondary btn-lg" id="post-story">Post Story</button>
</div>
<div class="col-md-5"></div>
</div>


