<div class="register-user">
        <select id="title">
            <optgroup title="select">
            <option>Mr.</option>
            <option>Ms.</option>
            <option>Mrs.</option>
            </optgroup>
        </select>
        <input type="text" id="fname" placeholder="First Name"/>
        <input type="text" id="mname" placeholder="Middle Name"/>
        <input type="text" id="lname" placeholder="Last Name"/>
        <input type="email" id="user-email" placeholder="Email Address"/>  
        <input type="password" id="user-password" placeholder="Password"/> 
        <input type="text" id="user-mobileno" placeholder="Mobile number"/> <br>
        Date of Birth:<input type="date" placeholder="Date of birth" id="user-dob">
        <input type="radio" name="gender" value="male">Male
        <input type="radio" name="gender" value="female">Female
        <input type="radio" name="gender" value="other">Other

        <input type="submit" id="register-btn" value="register">
</div>