@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/*refered from W3school*/
@font-face {
  font-family: HennyPenny;
  src: url(./fonts/HennyPenny-Regular.ttf);
}
@font-face {
  font-family: ComicNeue;
  src: url(./fonts/ComicNeue-Regular.ttf);
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Comic Neue','ComicNeue', Arial, Helvetica, sans-serif;
}
.hidden {
  display: none;
}
/* Style the header */
header {
    background-color: #0e3e8b;
    padding: 1px;
    text-align: center;
    font-family: 'HennyPenny', Arial, Helvetica, sans-serif;;
    font-size: 18px;
    color: white;
}
header a {
  text-decoration: none;
  color: #FFFFFE;
}
header a:hover {
  font-size: 25px;
}
/* Create two columns/boxes that floats next to each other */
nav {
  display: flex;
  flex-direction: column;
  background: #001b2b;
  position: sticky;
  top: 0;
  text-align: center;
  z-index: 999;
  height: 70px;
}
.home-nav {
  margin: auto;
}
.home-nav li {
    display: inline;
    background-color: #A61651;
    color: white;
    padding: 10px 60px;
    margin: 5px;
    cursor: pointer;    
}
.home-nav li:hover {
  font-size: 10;
  font-size: 20px;
}
#user-profile div {
  padding: 5px;
  margin: 1px;
}

#update-profile-btn {
    color: #FFFFFE;
    background: #001B2B;
    padding: 10px;
    border: 1px #0e3d8b solid;
    font-weight: bold;
    float: right;
    cursor: pointer;
}
#update-profile-btn:hover {
  background: #A61651;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

.main-content {
  float: left;
  padding: 20px;
  width: 100%;
  background-color: #f1f1f1;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}
.people-info {
  border: 1px solid black;
  padding: 10px;
  width: auto;
  display: inline-block;
  text-align: center;
  margin: 2px 0px;
}
.people-friendStatus{
  content: "Send Request";
  background: #A61651;
  color: white;
  padding: 7px;
}
.people-friendStatus:before{
  content: "Send Request";
  cursor: pointer;
}
.people-friendStatus.Accepted:before { 
  content: "Friend";
}
.people-friendStatus.Pending:before { 
  content: "Request Sent";
}
.people-friendStatus.Response:before { 
  content: "Response";
  cursor: pointer;
}
.people-container {
  text-align: center;
}
.response-popup {
    background: #A61651;
    color: white;
    padding: 3px;
}

.select-box {
  padding: 10px;
  font-family: inherit;
  float: right;
}

/*Sub li design*/
#people-select {
  list-style: none;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    clear: both;
    margin: 0 0 10px 0;
}
#people-select li {
  background: #001b2b;
  padding: 10px 15px;
}
#people-select a {
  text-decoration: none;
  color: #FFFFFE;
}
/*Style for editor*/
#editor-handler {
  padding: 8px 0;
  float: right;
}
#editor .ql-editor {
  background-color: #FFFFFE;
  min-height: 100px;
}
#stories-container {
  margin: 10px;
  padding: 25px 0;
}
.story-holder {
  margin: 30px 0px;
}
.story-details {
  border-radius: 10px 10px 0 0;
    border: 1px solid #777;
    padding: 0 6px;
    background-color: #FFFFFE;
    max-width: 300px;
}
.story-content{
  background-color: #FFFFFE;
  padding: 1px 5px;
  border: 1px solid #777;
  box-shadow: inset 0px 3px 7px 0px black;
  border-radius: 0 10px 0px 10px;
  max-height: 200px;
  overflow: auto;
}
.story-editor {
    background-color: transparent;
    float: right;
}
.story-editor div {
    display: inline;
    background: #001b2b;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
}
/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 768px) {
  nav, .main-content {
    height: auto;
  }
  nav {
    padding: 5px;
  }
  .home-nav {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .home-nav li {
    padding: 5px 5px;
    margin: 0px 2px;
  }
  #user-full-name input {
    display: flex;
    flex-direction: column;
  }
  #people-select {
      display: inline-flex;
  }
  .story-holder {
    margin: 30px -30px;
  }
}